table {
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 16px;
}

th {
  background-color: darkcyan;
}

tr {
  background-color: lightblue;
}

tr:nth-child(even) {
  background-color: lightcyan;
}

.material-icons {
  font-size: 35px !important;
}

.large {
  font-size: 50px !important;
  padding-right: 15px;
}

.coloranzeige {
  height: 20px;
  width: 100px;
}

.blue {
  color: darkblue;
}

.green {
  color: darkgreen;
}

.red {
  color: darkred;
}

.tableabstand {
  margin: 15px;
}

table {
  border-collapse: initial;
  border: solid black 2px;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

td,
th {
  border-radius: 0px;
  border-top: solid black 1px;
}

th {
  border-top: none;
}
