table {
    width: 100%;
}

div table {
    padding: 15px;
}

th, td {
    text-align: left;
    padding: 16px;
}

th {
    background-color: tomato;
}

tr {
    background-color: lightcoral;
}

tr:nth-child(even) {
    background-color: coral;
}

.material-icons {
  font-size: 35px !important;
}

.large {
    font-size: 50px !important;
    padding-right: 15px;
  }

.coloranzeige {
    height: 20px;
    width: 100px;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.red {
    color: red;
}